<footer>
    <div class="wrapper">
        <div class="bigR desktop_only">
            <img src="/static/res/img/main/bigr.png" height="100%" />
        </div>
        <div class="about">
            <div class="title">About Us</div>
            <div class="content">&copy; 2020 Reporter Magazine. All Rights Reserved.</div>
            <div class="content">Reporter Magazine is a student-run publication of the Rochester Institute of Technology.</div>
            <div class="content">
                <a href="/about/">Learn more</a>
            </div>
        </div>
        <div class="address">
            <div class="title">Address</div>
            <div class="content">37 Lomb Memorial Drive<br/>
                Rochester, New York 14623</div>
            <div class="content">Campus Life Center | A-730</div>
            <div class="content">Tel: <a href="tel:+15854752213">(585) 475-2213</a></div>
        </div>
        <div class="people">
            <div class="title">People</div>
            <div class="content">
                <a href="/people/">Our Staff</a>
            </div>
            <div class="content">
                <a href="/join-us/">Join Our Team</a>
            </div>
            <div class="content">
                <a href="/office-hours/">Office Hours</a>
            </div>
            <div class="content">
                <a href="https://reporter.rit.edu/user/">Login to Account</a>
            </div>
        </div>
        <div class="other">
            <div class="title">Other</div>
            <div class="content">
                <a href="/advertise/">Advertise</a>
            </div>
            <div class="content">
                <a href="/distorter/">Distorter</a>
            </div>
            <div class="content">
                <a href="/magazine-locations/">Magazine Map</a>
            </div>
            <div class="content">
                <a href="/tipline/">Anonymous Tip</a>
            </div>
        </div>
    </div>
</footer>