<!doctype html>
<html>
<head>
    <title>Reporter</title>
    {% include 'luna-theme/segments/head-includes.html' %}
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&amp;subset=latin-ext" rel="stylesheet">
    {% include 'luna-theme/segments/analytics.html' %}
</head>
<body>
    {% include 'luna-theme/segments/header.html' %}


    <div class="contentWrapper">
        <article>

            <h1>Meet Reporter</h3>
            <p>Founded in 1951, Reporter Magazine is a completely student run organization through the Rochester Institute of Technology. The magazine is a daily online publication and a 32 page full-color issue printed on the first Friday of the month for the duration of the academic year. Business, editorial and design facilities are located in Room A-730, in the lower level of the Campus Center. </p>
            <h2>Our Mission</h3>
            <p>It is the mission of Reporter to put forth content for the RIT community that is informative, innovative and enjoyable. It is our mission to inspire the RIT students, faculty, staff and alumni to explore and learn about our community. Reporter’s mission is to provide a learning environment for each of our employees where they can both enjoy and take pride in the work that they do. We provide peer level perspectives in a publication while remaining editorially independent. Together as one, the Reporter staff delivers a publication that we are proud to put our name on.</p>
            <h2>Op-Eds:</h3>
            <p>Any student, faculty, staff, RIT alumni or member of the community can write an op-ed or letter to the editor that may be published on the op-ed section of the website. These articles are subject to editing for AP Style and are published with the Editor-in-Chief's discretion. To submit an op-ed or letter to the editor, please send the text to <a href="mailto:rpteic@rit.edu">rpteic@rit.edu</a>. No op-ed or letter to the editor will be published unless signed. All letters and op-eds received become the property of Reporter. </p>

        </article>
    </div>


    {% include 'luna-theme/segments/footer.html' %}
</body>
</html>