<!doctype html>
<html>
<head>
    <title>Advertising</title>
    {% include 'luna-theme/segments/head-includes.html' %}
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&amp;subset=latin-ext" rel="stylesheet">
    {% include 'luna-theme/segments/analytics.html' %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        {% include 'luna-theme/segments/header.html' %}


    <div class="header-mast container">
        <div class="header-mast">
            <h1>Advertising</h1>
        </div>
    </div>
    <div class="contentWrapper">
        <article>

            <h1>Interested in advertising with us?</h1>
            <p>Reporter has fantastic advertising opportunities for organizations of all sizes.</p>
            <h2>About us</h2>
            <p>Reporter is a student-run magazine established in 1951. The magazine is printed monthly while the website is updated
                daily.</p>
            <p>Reporter's target markets are RIT students, faculty and staff. </p>
            <p>2300 free print issues will be distributed to stands around campus on the first Monday of every month.
                The print issue includes 32 pages that cover news, feature stories, wellness, culture and student activities
                that are related to the Rochester and RIT community.</p>
            <h2>Contact Our Ad Manager</h2>
            <p>37 Lomb Memorial Drive, Rochester, New York 14623</p>
            <p><a href="mailto:rptadsmgr@rit.edu">rptadsmgr@rit.edu</a></p>
            <p>(585) 475 - 2213</p>
            <p><br /></p>
            <table>
                <thead>
                    <tr>
                        <td style="text-align:left;">Demographics</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Highest degree:</td>
                        <td>Doctoral</td>
                    </tr>
                    <tr class="stripe">
                        <td>Total undergraduate enrolment:</td>
                        <td>15,085</td>
                    </tr>
                    <tr>
                        <td>Tuition:</td>
                        <td>$44,058</td>
                    </tr>
                    <tr class="stripe">
                        <td>Full time student average ages:</td>
                        <td>21</td>
                    </tr>
                    <tr>
                        <td>Percentage of males:</td>
                        <td>67.0%</td>
                    </tr>
                    <tr class="stripe">
                        <td>Percentage of females:</td>
                        <td>33.0%</td>
                    </tr>
                    <tr>
                        <td>All undergraduates living on campus:</td>
                        <td>53.0%</td>
                    </tr>
                    <tr class="stripe">
                        <td>Faculty and Staff:</td>
                        <td>3,753</td>
                    </tr>
                    <tr>
                        <td>Residence halls:</td>
                        <td>3,487 students</td>
                    </tr>
                    <tr class="stripe">
                        <td>Apartment residents:</td>
                        <td>2,814 students</td>
                    </tr>
                </tbody>
            </table>
            <br />
            <table>
                <thead>
                    <tr>
                        <td style="text-align:left;">Monthly Web Statistics</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Pageviews:</td>
                        <td>25,000</td>
                    </tr>
                    <trclass>
                        <td>Unique Visitors:</td>
                        <td>4,000</td>
                    </trclass>
                </tbody>
            </table>
            <br/>
            <h2>Artwork Requirement</h2>
            <p>For a small fee of $50.00, our staff designers can create an advertisement if you or your company does not have the
                artwork already prepared. For further information please contact our Advertising Manager at the <a href="mailto:rptadsmgr@rit.edu">email</a> or telephone
                number provided above.</p>
            <h2>Payment and Late Fees</h2>
            <p>We only accept credit card (MasterCard, Visa, Discover, American Express). Cards will be charged after the
                advertisement has been published in print or online. There are only 4 pages available for advertising in each
                issue, therefore space is limited. Any late advertisements will be charged a $25 late fee. If the advertisement is
                submitted past the printing deadline or not at all, it will not be run and you will be charged a $500.00 no-show
                fee.</p>
            <p>For internal advertisements, your 24 digit internal account number is required at the time the contract is
                completed.</p>
            <h2>Discount Package</h2>
            <p>Purchase all 8 print ads for a 15% discount and free online advertising for the first week of every month.</p>
            <h2>Color Print Advertisements</h2>
            <p>Our print advertising rates are determined by the number of magazines </p>
            <table>
                <thead>
                    <tr>
                        <td style="text-align:left;">Placement</td>
                        <td>One-time Contract</td>
                        <td>Three-Magazine Contract</td>
                        <td>Yearly Contract</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Full back cover</td>
                        <td>$1000</td>
                        <td>$850<small> / issue</small></td>
                        <td>$650<small> / issue</small></td>
                    </tr>
                    <tr class="stripe">
                        <td>Full Inside front cover</td>
                        <td>$800</td>
                        <td>$640<small> / issue</small></td>
                        <td>$475<small> / issue</small></td>
                    </tr>
                    <tr>
                        <td>Full Inside back cover</td>
                        <td>$750</td>
                        <td>$680<small> / issue</small></td>
                        <td>$500<small> / issue</small></td>
                    </tr>
                    <tr class="stripe">
                        <td>Full page</td>
                        <td>$400</td>
                        <td>$320<small> / issue</small></td>
                        <td>$260<small> / issue</small></td>
                    </tr>
                    <tr>
                        <td>Half page</td>
                        <td>$225</td>
                        <td>$190<small> / issue</small></td>
                        <td>$140<small> / issue</small></td>
                    </tr>
                    <tr class="stripe">
                        <td>Quarter page</td>
                        <td>$125</td>
                        <td>$105<small> / issue</small></td>
                        <td>$85<small> / issue</small></td>
                    </tr>
                    <tr>
                        <td>Eighth (1/8) page</td>
                        <td>$1000</td>
                        <td>$850<small> / issue</small></td>
                        <td>$650<small> / issue</small></td>
                    </tr>
                    <tr class="stripe">
                        <td>Spread (2 pages)</td>
                        <td>$1000</td>
                        <td>$850<small> / issue</small></td>
                        <td>$650<small> / issue</small></td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <table>
                <thead>
                    <tr>
                        <td style="text-align:left;">Online Advertisement</td>
                        <td>Weekly</td>
                        <td>Monthly</td>
                        <td>Semester</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Horizontal Rectangle (512 x 288px)</td>
                        <td>$100</td>
                        <td>$175</td>
                        <td>$500</td>
                    </tr>
                    <tr>
                        <td>Vertical Rectangle (1024 x 288px)</td>
                        <td>$100</td>
                        <td>$175</td>
                        <td>$500</td>
                    </tr>
                </tbody>
            </table>
            <br/>
            <h2>Internal Pricing</h2>
            <p>If you are a club or organization at RIT please contact the Advertising and Public Relations Manager for the advertising prices.</p>

        </article>
    </div>


    {% include 'luna-theme/segments/footer.html' %}
</body>
</html>