<!DOCTYPE html>
<html><head>
<meta http-equiv="content-type" content="text/html; charset=windows-1252">
    <title>Reporter</title>
    {% include 'luna-theme/segments/analytics.html' %}
    <link rel="stylesheet" href="article3_files/main.css">
    <link href="article3_files/css_002.css" rel="stylesheet">
    <link href="article3_files/css.css" rel="stylesheet">
</head>
<body>
        <header>
            <div id="header_top">
                <div class="header_object_wrapper logo">
                    <a class="logo" href="https://reporter.rit.edu/">
                        <img src="article3_files/logo.png" alt="Reporter" height="38px">
                    </a>
                </div>
                <div class="header_object_wrapper search">
                    <a class="search trigger" href="https://reporter.rit.edu/">
                        <img src="article3_files/search.png" alt="Search" height="36px">
                    </a>
                </div>
                <div class="header_object_wrapper links">
                    <ul>
                        <li>
                            <a href="#">
                                <svg class="facebook" enable-background="new 0 0 56.693 56.693" width="25" height="25" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                                    <g transform="translate(0 -3)">
                                        <path d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="twitter" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" height="24" width="24" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
                                    <g transform="translate(-539.18 -536.86)">
                                        <path d="m633.9 812.04c112.46 0 173.96-93.168 173.96-173.96 0-2.6463-0.0539-5.2806-0.1726-7.903 11.938-8.6302 22.314-19.4 30.498-31.66-10.955 4.8694-22.744 8.1474-35.111 9.6255 12.623-7.5693 22.314-19.543 26.886-33.817-11.813 7.0031-24.895 12.093-38.824 14.841-11.157-11.884-27.041-19.317-44.629-19.317-33.764 0-61.144 27.381-61.144 61.132 0 4.7978 0.5364 9.4646 1.5854 13.941-50.815-2.5569-95.874-26.886-126.03-63.88-5.2508 9.0354-8.2785 19.531-8.2785 30.73 0 21.212 10.794 39.938 27.208 50.893-10.031-0.30992-19.454-3.0635-27.69-7.6468-0.009 0.25652-0.009 0.50661-0.009 0.78077 0 29.61 21.075 54.332 49.051 59.934-5.1376 1.4006-10.543 2.1516-16.122 2.1516-3.9336 0-7.766-0.38716-11.491-1.1026 7.7838 24.293 30.355 41.971 57.115 42.465-20.926 16.402-47.287 26.171-75.937 26.171-4.929 0-9.7983-0.28036-14.584-0.84634 27.059 17.344 59.189 27.464 93.722 27.464"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <svg class="instagram" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="23px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve">
                                    <g>
                                        <path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752
                                                                       c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407
                                                                       c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752
                                                                       c17.455,0,31.656,14.201,31.656,31.655V122.407z"></path>
                                        <path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561
                                                                       C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561
                                                                       c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"></path>
                                        <path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78
                                                                       c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78
                                                                       C135.661,29.421,132.821,28.251,129.921,28.251z"></path>
                                    </g>
                            </svg></a>
                        </li>
                        <li>
                            <div class="divider"></div>
                        </li>

                        <li>
                            <a href="https://www.facebook.com/reportermag">
                                <svg class="facebook" enable-background="new 0 0 56.693 56.693" width="25" height="25" id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink">
                                    <g transform="translate(0 -3)">
                                        <path d="M40.43,21.739h-7.645v-5.014c0-1.883,1.248-2.322,2.127-2.322c0.877,0,5.395,0,5.395,0V6.125l-7.43-0.029  c-8.248,0-10.125,6.174-10.125,10.125v5.518h-4.77v8.53h4.77c0,10.947,0,24.137,0,24.137h10.033c0,0,0-13.32,0-24.137h6.77  L40.43,21.739z"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/reportermag">
                                <svg class="twitter" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300" height="24" width="24" version="1.1" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/">
                                    <g transform="translate(-539.18 -536.86)">
                                        <path d="m633.9 812.04c112.46 0 173.96-93.168 173.96-173.96 0-2.6463-0.0539-5.2806-0.1726-7.903 11.938-8.6302 22.314-19.4 30.498-31.66-10.955 4.8694-22.744 8.1474-35.111 9.6255 12.623-7.5693 22.314-19.543 26.886-33.817-11.813 7.0031-24.895 12.093-38.824 14.841-11.157-11.884-27.041-19.317-44.629-19.317-33.764 0-61.144 27.381-61.144 61.132 0 4.7978 0.5364 9.4646 1.5854 13.941-50.815-2.5569-95.874-26.886-126.03-63.88-5.2508 9.0354-8.2785 19.531-8.2785 30.73 0 21.212 10.794 39.938 27.208 50.893-10.031-0.30992-19.454-3.0635-27.69-7.6468-0.009 0.25652-0.009 0.50661-0.009 0.78077 0 29.61 21.075 54.332 49.051 59.934-5.1376 1.4006-10.543 2.1516-16.122 2.1516-3.9336 0-7.766-0.38716-11.491-1.1026 7.7838 24.293 30.355 41.971 57.115 42.465-20.926 16.402-47.287 26.171-75.937 26.171-4.929 0-9.7983-0.28036-14.584-0.84634 27.059 17.344 59.189 27.464 93.722 27.464"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/reportermag">
                                <svg class="instagram" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="23px" height="23px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve">
                                    <g>
                                        <path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752
                                                                       c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407
                                                                       c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752
                                                                       c17.455,0,31.656,14.201,31.656,31.655V122.407z"></path>
                                        <path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561
                                                                       C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561
                                                                       c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z"></path>
                                        <path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78
                                                                       c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78
                                                                       C135.661,29.421,132.821,28.251,129.921,28.251z"></path>
                                    </g>
                            </svg></a>
                        </li>
                    </ul>
                </div>
                <br class="clr">
            </div>
            <nav>
                <ul>
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">News</a>
                    </li>
                    <li>
                        <a href="#">Leisure</a>
                    </li>
                    <li>
                        <a href="#">Features</a>
                    </li>
                    <li>
                        <a href="#">Sports</a>
                    </li>
                    <li>
                        <a href="#">Views</a>
                    </li>
                    <li>
                        <a href="#">Tech</a>
                    </li>
                    <li>
                        <a href="#" class="selected">Op-Ed</a>
                    </li>
                    <li>
                        <a href="#">Media</a>
                    </li>
                </ul>
            </nav>
        </header>


    <div class="contentWrapper">
        <article>
            <img src="article3_files/sample4.jpg" class="mainimg" style="box-shadow: -9px 11px 50px rgba(0, 0, 0, 0.42);">
            <h1>Reporter launches brand new site design!</h1>
            <hr class="slice">
            <address>
                <!-- <img src="/author.jpg" alt="Profile picture of USER" /> -->
                <p>by Efe Ozturkoglu</p>
            </address>

            <p><span class="firstLetter">L</span>orem ipsum dolor sit
amet, consectetur adipiscing elit. Proin at nisi pellentesque, congue
nisl eu, finibus sem. Cras tincidunt finibus cursus. Pellentesque
consectetur libero ligula, in tempus lorem finibus eget. Maecenas ut
libero tortor. Phasellus congue sem nec augue dictum, vel sodales neque
consequat. Mauris lobortis nibh ut sollicitudin vehicula. Morbi suscipit
 libero nec quam faucibus euismod. Lorem ipsum dolor sit amet,
consectetur adipiscing elit. In posuere scelerisque quam at fermentum.
Morbi gravida sit amet sapien eget condimentum. Nunc luctus purus in
nisl tincidunt imperdiet. Nam dapibus urna accumsan auctor tincidunt.
Sed id arcu semper, fringilla magna ut, placerat diam.</p>

            <p>Aliquam volutpat eros purus, a tristique odio iaculis et.
 Sed aliquam, mi non dapibus elementum, lorem est maximus quam, nec
porta nisl lorem sit amet metus. Pellentesque imperdiet sem tellus, eu
consequat ante efficitur et. Donec imperdiet, elit vel fermentum semper,
 nulla diam viverra eros, at vulputate turpis metus non enim. Quisque
felis metus, rhoncus ut sagittis id, pretium vel tortor. Aliquam
hendrerit suscipit ultricies. Pellentesque vel risus non augue venenatis
 aliquam ac vel lacus. Duis sit amet nisl velit. Mauris vel congue
justo. Cras vitae lacinia justo. Aenean tempus imperdiet magna. Duis
efficitur tortor vitae urna sagittis fermentum. Nullam vel lorem eget
mauris ultrices dictum. Duis ipsum dolor, consequat sed nisi quis,
consectetur sagittis leo. Sed bibendum ligula metus, sed bibendum turpis
 egestas ac.</p>
                <h2>This is a subheading</h2>
            <p>Nullam eget eros congue, varius eros at, sagittis lacus.
Duis ultricies magna arcu, quis placerat ex dictum sed. Sed vel lectus
quis dui dictum consequat eget in mauris. Suspendisse euismod odio
augue, in pellentesque neque ornare sed. Sed eu velit sit amet arcu
pretium molestie. Integer eu ligula id erat dignissim laoreet quis nec
lacus. Vestibulum metus diam, gravida sit amet lorem id, eleifend
pretium neque. Praesent efficitur magna ut dui cursus, non consequat
odio pharetra. Aliquam erat volutpat.</p>
                <h2>This is another one</h2>
            <p>In sapien lorem, laoreet nec ullamcorper eget, bibendum
eu tortor. Nullam sed egestas arcu, in scelerisque justo. Nulla enim
enim, mollis vel nibh vitae, condimentum venenatis diam. Etiam sit amet
risus in purus lobortis efficitur. Nam sit amet diam ipsum. Nulla at
eros sapien. Nunc sodales ipsum dolor, nec vehicula arcu ornare id. Nam
vel mauris pharetra mi congue volutpat nec non nisl. Nullam nisi ipsum,
ornare sit amet lorem sed, semper varius risus. Integer vitae placerat
metus, in laoreet purus. Quisque sagittis ornare justo, eget cursus eros
 viverra id. Duis eu lorem sed ex tristique molestie id volutpat enim.</p><p>

            </p><p>Curabitur ut diam at orci ullamcorper sollicitudin.
Praesent vehicula vehicula placerat. Duis maximus ultricies laoreet.
Integer eu urna ac lacus elementum varius eu mollis sem. Pellentesque
eros tellus, imperdiet a odio et, consectetur ornare tortor. Etiam vitae
 eros sed purus suscipit ornare. Phasellus pretium dapibus viverra.
Nulla tristique justo sed leo posuere, congue rutrum dui dictum. Nunc
suscipit lectus lectus. Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Donec feugiat pharetra pretium.</p>

            <p>Etiam pellentesque suscipit blandit. In hac habitasse
platea dictumst. Aliquam felis lorem, consectetur vitae ante eu,
vestibulum cursus est. Quisque suscipit diam sed rhoncus lacinia. Duis
sed sagittis lorem. Praesent sed eros sed urna pretium lobortis nec in
dui. Sed pharetra tincidunt ipsum condimentum laoreet. Sed in magna
finibus, condimentum ex id, tempor nunc. Proin imperdiet, neque sit amet
 rutrum euismod, eros purus posuere mauris, quis vehicula dolor lorem id
 enim.</p>

            <p>Nunc quam odio, pretium non pulvinar eget, egestas vel
tortor. Integer blandit lectus sit amet lacus consequat, in porttitor
eros viverra. In eget dui a risus tincidunt cursus. Donec suscipit
feugiat felis nec vehicula. Vestibulum dolor nulla, bibendum nec
sagittis sit amet, pulvinar quis velit. Nullam condimentum vitae ligula
in mattis. Quisque ex lorem, scelerisque at tincidunt eget, congue nec
metus. Sed felis odio, pretium tempor sapien non, vehicula convallis
tellus. Etiam semper justo a odio pellentesque, non vestibulum mi
maximus. Aliquam sed lobortis purus, quis mattis turpis. Praesent eu
posuere risus. Pellentesque dictum dapibus velit at accumsan.</p>

            <p>Sed justo ante, auctor nec placerat in, tempor vel orci.
Sed metus nisi, suscipit in scelerisque eget, sagittis et mi. Mauris
efficitur pellentesque metus quis viverra. In tempor risus nec velit
malesuada venenatis. Duis elementum metus nulla, sed tempor nunc
consectetur gravida. Suspendisse potenti. Orci varius natoque penatibus
et magnis dis parturient montes, nascetur ridiculus mus. Nulla id libero
 at est bibendum eleifend. In hac habitasse platea dictumst. Mauris a
finibus massa. Praesent nisi ante, feugiat eget euismod nec, volutpat ut
 tortor. Donec dignissim diam at mauris viverra tempus. Fusce non sem ut
 magna eleifend condimentum.</p>

            <p>Class aptent taciti sociosqu ad litora torquent per
conubia nostra, per inceptos himenaeos. Pellentesque lacinia lectus
ipsum. Praesent ullamcorper molestie quam quis pulvinar. Donec iaculis
elit diam, in tincidunt lorem pulvinar quis. Cras accumsan ante felis,
nec tempus libero vehicula nec. Phasellus ut consequat erat. Praesent
quis elementum mi, id laoreet augue. Integer tempus ante in lorem
ornare, nec ultricies ligula laoreet. Quisque pretium fermentum lectus
id porttitor.</p>

            <p>Etiam pellentesque tincidunt ante, sit amet imperdiet
risus ultrices a. Aenean sodales arcu convallis, suscipit nisl quis,
bibendum tellus. Suspendisse scelerisque mauris vel dolor ornare
ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et
ultrices posuere cubilia Curae; Sed vitae massa sed tortor volutpat
volutpat quis vel ante. Nam hendrerit ligula sem, ultricies ultricies
libero molestie quis. Interdum et malesuada fames ac ante ipsum primis
in faucibus. Vestibulum condimentum volutpat risus, sed iaculis eros
euismod eget. Quisque suscipit lectus nulla, facilisis malesuada leo
vestibulum at. Sed sit amet malesuada nunc.</p>

            <p>Cras ac hendrerit mauris, sit amet maximus augue. Vivamus
 fringilla, lectus ut semper mattis, lectus nisi consectetur erat, nec
interdum sapien mi in magna. Morbi nec ex eget diam tempus auctor. Nam
fringilla nisi tellus, sed fringilla nunc viverra non. Curabitur
ullamcorper lacinia facilisis. Integer dignissim egestas eros, posuere
cursus nulla consequat at. Aenean scelerisque purus in tincidunt
blandit. Phasellus ac risus convallis, semper nulla sed, efficitur urna.
 Nam rhoncus lacus nec scelerisque sagittis. Mauris lobortis consectetur
 consectetur. Nunc eget justo pretium, porttitor orci vel, bibendum
odio. Sed odio urna, dapibus eu imperdiet quis, maximus ac ligula. Proin
 odio turpis, blandit at fringilla eget, fermentum eget eros. Quisque
venenatis malesuada dui, sed convallis lacus cursus a.</p>
        </article>
    </div>


    <footer>
        Hey
    </footer>

</body></html>