<!doctype html>
<html>
<head>
    <title>Reporter</title>
    {% include 'luna-theme/segments/head-includes.html' %}
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&amp;subset=latin-ext" rel="stylesheet">
    {% include 'luna-theme/segments/analytics.html' %}
</head>
<body>
        {% include 'luna-theme/segments/header.html' %}


    <div class="header-mast container">
        <div class="header-mast">
            <h1>Jobs at Reporter</h1>
        </div>
    </div>
    <div class="contentWrapper">
        <article>

        <h1>Join the Reporter Team</h1>
        <p>So we have piqued your interest, huh? Anybody can become a member of the Reporter Magazine team! Come by our general
            meetings held on Fridays in our office, A-730, of the Campus Life Center. For more specifics regarding positions at
            Reporter, see the descriptions below.</p>

        <h2>Writer</h2>
        <p>Contact our Online Managing Editor, via email at <a href="mailto:rptonline@rit.edu">rptonline@rit.edu</a> or our
            Print Managing Editor, via email at <a href="mailto:rptprint@rit.edu">rptprint@rit.edu</a> .</p>

        <h2>Illustrator / Designer</h2>
        <p>Contact our Art Director, via email at <a href="mailto:rptart@rit.edu">rptart@rit.edu</a> .</p>

        <h2>Photographer</h2>
        <p>Contact our Photo Editor, via email at <a href="mailto:rptphoto@rit.edu">rptphoto@rit.edu</a> .</p>

        <h2>Videographers</h2>
        <p>Contact our Video Manager, via email at <a href="mailto:rptvideo@rit.edu">rptvideo@rit.edu</a> .</p>

        <h2>Podcasters</h2>
        <p>Contact our Podcast Manager, via email at <a href="mailto:rptpod@rit.edu">rptpod@rit.edu</a> .</p>

    </article>
    </div>


    {% include 'luna-theme/segments/footer.html' %}
</body>
</html>
