<!doctype html>
<html>
<head>
    <title>Reporter</title>
    {% include 'luna-theme/segments/head-includes.html' %}
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&amp;subset=latin-ext" rel="stylesheet">
    {% include 'luna-theme/segments/analytics.html' %}
</head>
<body>
    {% include 'luna-theme/segments/header.html' %}


    <div class="header-mast container">
        <div class="header-mast">
            <h1>Magazine Map</h1>
        </div>
    </div>
    <div class="contentWrapper">
        <article>
            <h1>Looking For A Copy of Reporter?</h1>
            <p>During the academic year, new issues of Reporter are distributed on the first Friday of the month to one of our twenty-one magazine stands on campus.</p>
            <p><img alt="" src="https://reporter.rit.edu/sites/pubDir/magazine_map.jpg" style="width:100%" /></p>
            <h3>Stand locations (from left to right)</h3>
            <p>Slaughter Hall, Golisano Hall, Student Services Center, Crossroads, Bausch and Lomb Center, Booth Hall, Gannett Hall, Gleason Hall, Gosnell Hall, Lowenthall Hall, Wallace Library, Eastman Hall, SAU, Campus Life Center, Hale-Andrews Gym, Grace Watson Hall, Corner Store Lobby, Commons Lobby, Lyndon Baines Johnson Hall.</p>
        </article>
    </div>


    {% include 'luna-theme/segments/footer.html' %}
</body>
</html>