<!doctype html>
<html>
<head>
    <title>Reporter Staff</title>
    {% include 'luna-theme/segments/head-includes.html' %}
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&amp;subset=latin-ext" rel="stylesheet">
    {% include 'luna-theme/segments/analytics.html' %}
</head>
<body>
    {% include 'luna-theme/segments/header.html' %}


    <div class="header-mast container">
        <div class="header-mast">
            <h1>Reporter Staff</h1>
        </div>
    </div>
    <div class="contentWrapper">
        <article>

                <h1>Meet the Editorial Board</h4>
                <p>The operations of Reporter Magazine are overseen by a talented group of individuals spanning across several different departments.&nbsp;</p>

                <style>
                table a:link,
                table a:visited,
                table a:active {
                    color:#151515;
                }

                table a:hover {
                    color: #2585B9;
                }
                </style>

                <table style='table-layout: fixed;'>
                    <thead>
                        <tr>
                            <td style='text-align:left;'>Management Staff</td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Editor-In-Chief</td>
                            <td>Marilyn Wolbert</td>
                            <td><a href='mailto:rpteic@rit.edu'>rpteic@rit.edu</a></td>
                        </tr>
                        <tr class='stripe'>
                            <td>Online Managing Editor</td>
                            <td>Jay Schading</td>
                            <td><a href='mailto:rptonline@rit.edu'>rptonline@rit.edu</a></td>
                        </tr>
                        <tr>
                            <td>Print Managing Editor</td>
                            <td>Karina Le</td>
                            <td><a href='mailto:rptprint@rit.edu'>rptprint@rit.edu</a></td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table style='table-layout: fixed;'>
                    <thead>
                        <tr>
                            <td style='text-align:left;'>Copy Staff</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Copy Editor</td>
                            <td>Mimi Lee</td>
                            <td><a href='mailto:rptcopy@rit.edu'>rptcopy@rit.edu</a></td>
                        </tr>
                        <tr class='stripe'>
                            <td>News Editor</td>
                            <td>Alex Schneider</td>
                            <td><a href='mailto:rptnews@rit.edu'>rptnews@rit.edu</a></td>
                        </tr>
                        <tr>
                            <td>Culture Editor</td>
                            <td>Tomas Rodrigo Mendez</td>
                            <td><a href='mailto:rptleisure@rit.edu'>rptleisure@rit.edu</a></td>
                        </tr>
                        <tr class='stripe'>
                            <td>Features Editor</td>
                            <td>Rylan Vanacore</td>
                            <td><a href='mailto:rptfeatures@rit.edu'>rptfeatures@rit.edu</a></td>
                        </tr>
                        <tr>
                            <td>Wellness Editor</td>
                            <td>River Starliper</td>
                            <td><a href='mailto:rptsports@rit.edu'>rptsports@rit.edu</a></td>
                        </tr>
                        <tr class='stripe'>
                            <td>Views Editor</td>
                            <td>Erin Brache</td>
                            <td><a href='mailto:rptviews@rit.edu'>rptviews@rit.edu</a></td>
                        </tr>
                        <tr>
                            <td>Technology Editor</td>
                            <td>Tommy Delp</td>
                            <td><a href='mailto:rpttech@rit.edu'>rpttech@rit.edu</a></td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table style='table-layout: fixed;'>
                    <thead>
                        <tr style='text-align:left;'>
                            <td>Art/Photo Staff</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Art Director</td>
                            <td>Rachel Kogut</td>
                            <td><a href='mailto:rptart@rit.edu'>rptart@rit.edu</a></td>
                        </tr>
                        <tr class='stripe'>
                            <td>Photo Editor</td>
                            <td>Travis LaCoss</td>
                            <td><a href='mailto:rptphoto@rit.edu'>rptphoto@rit.edu</a></td>
                        </tr>
                        <!--<tr>
                            <td>Online Photo Editor</td>
                            <td>---</td>
                            <td><a href='mailto:rptonlinephoto@rit.edu'>rptonlinephoto@rit.edu</a></td>
                        </tr>-->
                        <tr>
                            <td>Online Art Manager</td>
                            <td>Quamae Newsome</td>
                            <td><a href='mailto:rptonlineart@rit.edu'>rptonlineart@rit.edu</a></td>
                        </tr>
                        <tr class='stripe'>
                            <td>Video Manager</td>
                            <td>Daniel Sarch</td>
                            <td><a href='mailto:rptvideo@rit.edu'>rptvideo@rit.edu</a></td>
                        </tr>
                        <tr>
                            <td>Podcast Producer</td>
                            <td>Chloe Predock</td>
                            <td><a href='mailto:rpteic@rit.edu'>rptpod@rit.edu</a></td>
                        </tr>
                        <tr>
                            <td>Senior Designer</td>
                            <td>Gabriella Licona</td>
                            <td><a href='mailto:rpteic@rit.edu'></a></td>
                        </tr>
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table style='table-layout: fixed;'>
                    <thead>
                        <tr style='text-align:left;'>
                            <td>Business Staff</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Business Manager</td>
                            <td>Kamila Ali</td>
                            <td><a href='mailto:rptbizmgr@rit.edu'>rptbizmgr@rit.edu</a></td>
                        </tr>
                        <tr class='stripe'>
                            <td>Advertising/Public Relations Manager</td>
                            <td>Laylah Vital</td>
                            <td><a href='mailto:rptadsmgr@rit.edu'>rptadsmgr@rit.edu</a></td>
                        </tr>
                        <!-- <tr style="display: none">
                            <td>Production Manager</td>
                            <td></td>
                            <td><a href='mailto:rptprodmgr@rit.edu'>rptprodmgr@rit.edu</a></td>
                        </tr> -->
                    </tbody>
                </table>

                <p>&nbsp;</p>

                <table style='table-layout: fixed;'>
                    <thead>
                        <tr style='text-align:left;'>
                            <td>Technology Staff</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class='stripe'>
                            <td>Online Services Manager</td>
                            <td>Klaus Curde</td>
                            <td><a href='mailto:rptweb@rit.edu'>rptweb@rit.edu</a></td>
                        </tr>
                        <tr>
                            <td>Systems Administrator</td>
                            <td>Will Nilges</td>
                            <td><a href='mailto:rptadmin@rit.edu'>rptadmin@rit.edu</a></td>
                        </tr>
                    </tbody>
                </table>
                </div></div></div></div>  </div>



                </div>
        </article>
    </div>


    {% include 'luna-theme/segments/footer.html' %}
</body>
</html>
