<!doctype html>
<html>
<head>
    <title>Reporter Staff</title>
    {% include 'luna-theme/segments/head-includes.html' %}
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400&amp;subset=latin-ext" rel="stylesheet">
    {% include 'luna-theme/segments/analytics.html' %}
</head>
<body>
    {% include 'luna-theme/segments/header.html' %}


    <div class="header-mast profile container">
        <div class="header-mast">
            <div class="profile-pic container">
                <div class="profile-pic">
                    <img class="profile-pic" src="{{ profile_picture }}" />
                </div>
            </div>
            <h1 class="profile-name">{{ fullname }}</h1>
        </div>
    </div>
    <div class="header-mast-sub container">
        <div class="header-mast-sub">
            <h6>Journalism Major Whatever</h6>
            <p>Lorem ipsum dolar sit amet consectur elif is my sister reporter magazine article journalism news junk blah word vocabulary.</p>
            <p>We write good articles about stuff.</p>
        </div>
    </div>
    <div class="contentWrapper">
        <article>

                <h1>Meet the Editorial Board</h1>
                <p>The operations of Reporter Magazine are overseen by a talented group of individuals spanning across several different departments.&nbsp;</p>

                <style>
                table a:link,
                table a:visited,
                table a:active {
                    color:#151515;
                }

                table a:hover {
                    color: #2585B9;
                }
                </style>

                <p>Mail: </p>

                </div>
        </article>
    </div>


    {% include 'luna-theme/segments/footer.html' %}
</body>
</html>